*.log
.ipynb_checkpoints/
output/
loss_histogram/
data/
save/
train_ssl/
ckpts/
scripts/
cifarc_clip_result/
cifarc_result/
imgnetc_clip_result/
imgnetc_result/
source_code/
figs/
source_code/
*.zip
__pycache__


